<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <%= link_to "MobileCause Test", root_path, class: "brand-logo" %>
    <ul class="right hide-on-med-and-down">
      <%= render :partial => "layouts/links" %>
    </ul>
    <ul id="nav-mobile" class="sidenav">
      <%= render :partial => "layouts/links" %>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
